.gradient {
  background-image: linear-gradient(250deg, #6366F1 0%, #A5B4FC 74%);
}

.menu {
  background-color: #6366F1;
}

.gradient2 {
  background-color: #D97706;
  background-image: linear-gradient(315deg, #D97706 0%, #FCD34D 74%);
}
